.{
margin: 0;
padding: 0;
font-family: sans-serif;
}

.hero{
width: 100%;
height: 100vh;
background-image: url(https://github.com/vkmsboy/Video-Player/blob/master/templates/background.png?raw=true);
background-size: cover;
background-position: center;
position: relative;
overflow: hidden;
}

.logo{
width: 100%;
cursor: pointer;
}

.navhar{
width: 85%;
height: 15%;
margin: auto;
aling-items: center;
justify-content: space-between;
}

.button{
color: #fbfcfd;
padding: 10px 25px;
background: transparent;
border: 1px solid #fff;
border-radius: 20px;
outline: none;
cursor: pointer;
}

.content{
color: #fbfcfd;
position: absolute;
top: 50%;
left: 8%;
transform: translateY(-50%);
}

h1{
font-size: 80px;
margin: 10px 0 30px;
line-hight: 80px;
}

.slide-bar{
width: 50px;
height: 100%;
background: linear-gradient(#00545d, #000729);
position: absolute;
right: 0;
top: 0;
}

.menu{
display: block;
width: 25px;
margin: 40px auto 0;
cursor: pointer;
}

.social-links img{
width: 25px;
margin: 5px auto;
cursor: pointer;
}

.social-link{
width: 50px;
text-align: center;
postion: absolute;
top: 50;
transfrom: translateY(-50);
}

.useful-link{
width: 50px;
text-align: center;
postion: absolute;
bottom: 30px;
}

.bubbles img{
width: 50px;
animation: bubble 7s linear infinite;
}

.bubbles{
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
position: absolute;
bottom: -70px;
}

@keyframes bubble{
0%{
transform: translateY(0);
opacity: 0;
}
50%{
opacity: 0;
}
70%{
opacity: 0;
}
100%{
transform: translateY(-80vh);
opacity: 0;
}
}

.bubbles img:nth-child(1){
animation-delay: 2s;
width: 25px;
}
.bubbles img:nth-child(2){
animation-delay: 5.8s;
}
.bubbles img:nth-child(3){
animation-delay: 6s;
}
.bubbles img:nth-child(4){
animation-delay: 3s;
width: 40px;
}
.bubbles img:nth-child(5){
animation-delay: 4.1s;
}
.bubbles img:nth-child(6){
animation-delay: 1.5s;
width: 60px;
}
.bubbles img:nth-child(7){
animation-delay: 3.1s;
}
